name: Add labels

on:
  workflow_dispatch:

permissions:
  issues: write

jobs:
  sync:
    uses: AlbertoRFer/.github/.github/workflows/add_labels.yml@main
    with:
      target_repo: AlbertoRFer/todo